<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"layout:decorator="template">
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<c:url value="/css/main.css" var="jstlCss" />
<link href="${jstlCss}" rel="stylesheet" />
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Modifier un Produit</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="${jstlCss}" rel="stylesheet" />
</head>

<body>
	   <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<!-- Brand --> 
<a class="navbar-brand" href="#">Gestion de produits</a>
<!-- Links -->
<ul class="navbar-nav">

<!-- Dropdown -->
<li class="nav-item dropdown">

<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
Produits
</a>
<div class="dropdown-menu">
<a class="dropdown-item" th:href="@{/showCreate}">Ajouter</a>
<a class="dropdown-item" th:href="@{/ListeProduits}">Lister</a>
</div>
</li>
</ul>

</nav>
    <div class="container py-4 px-3">
        <form action="updateProduit" method="post">
            <div class="form-group">
                <label for="idProduit">ID :</label>
                <input type="text" id="idProduit" name="idProduit" class="form-control" th:value="${produit.idProduit}">
            </div>
            <div class="form-group">
                <label for="nomProduit">Nom :</label>
                <input type="text" id="nomProduit" name="nomProduit" class="form-control" th:value="${produit.nomProduit}">
            </div>
            <div class="form-group">
                <label for="prixProduit">Prix :</label>
                <input type="text" id="prixProduit" name="prixProduit" class="form-control" th:value="${produit.prixProduit}">
            </div>
            <div class="form-group">
                <label for="dateCreation">Date de création :</label>
                <input type="date" id="dateCreation" name="date" class="form-control" th:value="${#dates.format(produit.dateCreation, 'yyyy-MM-dd')}">
            </div>
            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
        <br/>
        <br/>
          <a th:href="@{/ListeProduits}" class="btn btn-info"> Liste Produits</a>
    </div>
    <!-- Intégration du script Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
